/*primary-background color  #FFFFFF */
/*secondary-background color #757575 */
/*footer-background color #000000 */
/*primaryy-text color #212121 */
/*seconday-text color #757575 */
/*accent color #2196F3 */

:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #757575;
  --footer: #000000;
  --primaryy-text-color: #212121;
  --seconday-text-color: #757575;
  --accent-color: #2196f3;
  --button: #f5f4fa;
}

li {
  list-style-type: none;
}
body {
  color: var(--primaryy-text-color);
  font-family: 'Roboto';
  background-color: var(--primary-background-color);
}
/*index.html*/

/*header*/

.menu-nav .link {
  color: var(--primaryy-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration-line: none;
  letter-spacing: 0, 02em;
}
.menu-nav .contacts {
  color: var(--seconday-text-color);
}
.link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0, 02em;
}
.link:hover {
  color: var(--accent-color);
}
.link:focus {
  color: var(--accent-color);
}
.logo {
  color: var(--footer);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration-line: none;
  letter-spacing: 0, 03em;
}
.logo-part {
  color: var(--accent-color);
}

/*main*/

.main-section {
  text-align: center;
  background-color: #2f303a;
}

.heading {
  color: var(--primary-background-color);
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0, 06em;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0, 06em;
}
.features .feature-names {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0, 03em;
}
.features .feature-def {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--seconday-text-color);
  letter-spacing: 0, 03em;
}
.team-info {
  background-color: var(--button);
}

.secondary-heading {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0, 03em;
}

.team .team-member {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0, 03em;
}
.team .team-occupation {
  color: var(--seconday-text-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0, 03em;
}

/*footer*/
.basement {
  background-color: var(--footer);
}

.brandmark {
  color: var(--primary-background-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration-line: none;
  letter-spacing: 0, 03em;
}
.brandmark:hover,
.brandmark:focus {
  color: var(--accent-color);
}
.address {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: var(--primary-background-color);
  letter-spacing: 0, 03em;
}
.basement .contacts {
  color: var(--seconday-text-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0, 03em;
}
.basement .contacts:focus,
.basement .contacts:hover {
  color: var(--primary-background-color);
}
/*Portfolio*/

.portfolio-heading {
  display: none;
}

.button-menu {
  background-color: var(--button);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0, 03em;
}
.button-menu:focus,
.button-menu:hover {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}

.button-main {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0, 03em;
}
.models .models-heading {
  color: var(--primaryy-text-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0, 06em;
}
.models .models-def {
  color: var(--secondary-background-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0, 03em;
}
